@media all and (min-width: 480px) {
  .App {
    text-align: center;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.brand-img {
  max-height: 100%;
  max-width: 100%;
}

.full-header {
  background-color: #0083ca;
}

.header-wrapper {
  padding: 30px 0;
  max-width: 1200px;
}

.container-left-top-header {
  height: 60px;
  font-size: 20px;
  display: flex;
  flex-direction: vertical;
  align-items: center;
}

.container-links-top-header {
  height: 20px;
  overflow: hidden;
  list-style-type: none;
}

.container-search {
  height: 40px;
}

.search-bar {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.container-login {
  height: 60px;
  display: flex;
  flex-direction: vertical;
  align-items: center;
}

.container-cart {
  height: 60px;
  display: flex;
  flex-direction: vertical;
  align-items: center;
}

.generic-links {
  color: #FFFFFF;
  margin-right: 16px;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
}

.logout-button:hover {
  background-color: transparent;
  border: none;
  color: #ff0000;
  text-decoration: underline;
}

/* Navigation Bar styles */
.line-navbar {
  background-color: #02659B;
}

.container-navbar {
  max-width: 1200px;
  height: 60px;
}

.navbar-default {
  background-color: #02659B;
  border: 0px;
  border-radius: 0px;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #02659B;
  background-color: #fff;
}