.Acessibility .lander {
  padding: 80px 0;
  text-align: center;
}

.Acessibility .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Acessibility .lander p {
  color: #999;
}
