@media all and (min-width: 480px) {
  .Contact {
    padding: 60px 0;
  }

  .Contact form {
    margin: 0 auto;
    max-width: 800px;
  }

  .Contact h3 {
    text-align: left;
    font-weight: bold;
    color: #0083CA;
    background-color:#FFFFFF;
  }
}

.Contact form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}

.panel-heading {
  padding: 10px;
}

.panel-body {
  padding: 20px;
}
