@media all and (min-width: 480px) {
  .MyAccount {
    padding: 60px 0;
  }

  .MyAccount form {
    margin: 0 auto;
    max-width: 600px;
  }

  .MyAccount h3 {
    text-align: left;
    font-weight: bold;
    color: #0083CA;
    background-color:#FFFFFF;
  }
}
  
.MyAccount form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}

.panel-heading {
  padding: 4px;
}

.panel-body {
  padding: 4px;
}