@media all and (min-width: 480px) {
  .Offers {
    padding: 60px 0;
  }

  .Offers form {
    margin: 0 auto;
    max-width: 800px;
  }

  .Offers h3,h2 {
    text-align: center;
    font-weight: bold;
    color: #0083CA;
  }
}

.Offers form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}

.products-wrapper {
  padding: 30px 0;
  max-width: 1440px;
}

.image-wrapper {
    width: 240px;
    height: 240px;
}

.panel-heading {
  padding: 10px;
}

.panel-body {
  padding: 20px;
}
