@media all and (min-width: 480px) {
  .Payment {
    padding: 60px 0 0 0;
  }

  .Payment h3 {
    text-align: center;
    font-weight: bold;
    color: #0083CA;
  }
}

.formWrapper {
  margin: 0 auto;
  max-width: 800px;
}

.paymentData {
  text-align: center;
    font-weight: bold;
    color: #0083CA;
    padding: 16px 0;
}