@media all and (min-width: 480px) {
  .ProductRegister {
    padding: 60px 0;
  }

  .ProductRegister form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.ProductRegister form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}
