@media all and (min-width: 480px) {
  .SearchProduct {
    padding: 60px 0;
  }

  .SearchProduct form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.SearchProduct form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}

#searchResult {
  text-align: justify;
}
