@media all and (min-width: 480px) {
  .ShoppingCart {
    padding: 60px 0 0 0;
  }

  .ShoppingCart form {
    margin: 0 auto;
    max-width: 800px;
  }

  .ShoppingCart h2, h4 {
    text-align: center;
    font-weight: bold;
    color: #0083CA;
    background-color:#FFFFFF;
  }
}

.ShoppingCart form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}

.products-wrapper {
  padding-bottom: 0px;
  max-width: 1440px;
}

.image-list-wrapper {
  width: 30px;
  height: 30px;
}

.control-buttons {
  width: 18px;
  height: 18px;
}

.panel-heading {
  padding: 10px;
}

.panel-body {
  padding: 20px;
}

.shipment-options-wrapper {
  max-width: 720px;
  margin-bottom: 30px;
}

.centerChildren {
  display: flex;
  justify-content: center;
}

.payment-option {
  cursor: pointer;
  margin: 8px 0px;
}